table {
	cursor: default;
	background-color: white;
}

table tr td {
	width: 34px;
	height: 34px;
	text-align: center;
	user-select: none;
}

tr:nth-child(n+2) td:hover {
	border: 1px solid rgb(120, 120, 120);
	box-sizing: border-box;
}

.weekend {
	color: red;
}

.invalid-day {
	color: rgb(170, 170, 170);
}

.calendar-head {
	display: flex;
	justify-content: center;
	padding-bottom: 10px;
	padding-top: 10px;
	align-items: center;
	user-select: none;
	background-color: rgb(255, 119, 0);
	color: white;
}

.calendar-body {
	display: flex;
	justify-content: center;
}

.year-month {
	margin-left: 5px;
	margin-right: 5px;
}

.month-decrease {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-right: 8px solid white;
	border-left: none;
}

.month-increase {
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid white;
	border-right: none;
}